
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="~/lib/signalr/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Information).withUrl("/ChatHub").build();


    connection.on("ReceivedBroadcast", function (id, message) {
        console.log(id);
        console.log(message);
    });
    connection.on("BroadcastSuccess", function () {
        console.log("brocastSuccess");
    })
</script>
